.stepper-main {
    margin: var(--main-space-medium) 0 var(--main-space) 0;
    display: block;
}
.stepper-main > form {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.stepper-group, .stepper-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.stepper-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.stepper-group-justified>.stepper, .stepper-group-justified>.stepper-group-item {
    display: table-cell;
    float: none;
    width: 1%;
}
.stepper-group>.item:first-child {
    margin-left: 0;
}
.stepper-group>.stepper {
    position: relative;
    float: left;
    outline-color: transparent;
}
.stepper-group-justified>.stepper-group-item .stepper {
    width: 100%;
}
.stepper-navigation {
    margin-top: var(--main-space);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: -webkit-box;
    display: flex;
}
.stepper-buttons {
    margin-bottom: var(--main-space);
}
.stopper-buttons .btn-group-justified {
    background-color: yellow;
}
.stepper {
    width: 100%;
    height: 70px;
    padding: 0;
    border: 0;
}
.stepper-ripple {
    padding: 0 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0 8px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 6;
    overflow: hidden;
    -webkit-mask-image: radial-gradient( circle, var(--main-white-color) 100%, #000 0);
}
.stepper-ripple {
    padding: 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.stepper-container-wrapper {
    margin-top: var(--main-space);
    margin-bottom: var(--main-space);
    overflow: hidden;
    transition: var(--main-animation-time) var(--main-animation-function);
    transition-property: height;
    will-change: height;
}
.stepper-navigation .stepper-content {
    font-family: monospace;
    margin: 0 auto;
    padding: 0 var(--main-space);
    display: -webkit-box;
    display: flex;
    min-height: 50px;
    -webkit-box-align: center;
    align-items: center;
    transition: color var(--main-animation-time) var(--main-animation-function);
    will-change: color;
    position: relative;
    z-index: 2;
}
.stepper-navigation .stepper-content:before {
    width: 300%;
    left: -300%;
}
.stepper-navigation .stepper-content:after {
    width: 9999%;
    left: 100%;
}
.stepper-navigation .stepper-content:after, .stepper-navigation .stepper-content:before {
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: var(--main-darker-transparent-color);
    transition: background-color var(--main-animation-time) var(--main-animation-function);
    will-change: background-color;
    content: " ";
}
.stepper-navigation .stepper-icon {
    background-color: var(--main-lighter-info-color);
    color: var(--main-white-color);
    width: 30px;
    height: 30px;
    border-radius: 80%;
    transition: var(--main-animation-time) var(--main-animation-function);
    transition-duration: 0 var(--main-animation-time);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    transition-property: background-color;
    will-change: background-color;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}
.stepper-navigation .stepper-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 16px;
    white-space: nowrap;
}
.stepper-navigation .stepper-description {
    opacity: .50;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.step {
    display: inline-block;
    padding: var(--main-space) var(--main-space-large);
    margin-bottom: 0;
    font-size: var(--main-font-size);
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.btn-step {
    transition: var(--main-animation-time) var(--main-animation-function);
    transition-property: background-color;
    will-change: background-color;
    color: var(--main-gray-color);
    background-color: var(--main-white-color);
    border-color: transparent;
}

.btn-step:focus {
    color: var(--main-dark-color);
    background-color: var(--main-white-color);;
    border-color: transparent;
    outline: none;
}
.btn-step:hover {
    color: var(--main-dark-color);
    background-color: var(--main-lightest-success-color);
    border-color: transparent;
}
.btn-step:active {
    color: var(--main-dark-color);
    background-color: var(--main-white-color);;
    border-color: transparent;
}
.btn-step:active:hover, 
.btn-step:active:focus {
    color: var(--main-dark-color);
    background-color: var(--main-white-color);;
    border-color: transparent;
}
.btn-step:active {
    background-image: none;
}
.btn-step.disabled,
.btn-step[disabled],
.btn-step.disabled:hover, 
.btn-step[disabled]:hover, 
.btn-step.disabled:focus, 
.btn-step[disabled]:focus {
    background-color: var(--main-white-color);
    border-color: transparent;
    outline: none;
}
.btn-step.btn-active {
    color: var(--main-dark-color);
}
.btn-step.btn-active:hover {
    color: var(--main-dark-color);
}
.btn-step.btn-active .stepper-icon {
    transition: var(--main-animation-time) var(--main-animation-function);
    transition-property: background-color;
    will-change: background-color;
    background-color: var(--main-primary-color);
    color: var(--main-white-color);
}
.btn-step.btn-done .stepper-icon {  
    transition: var(--main-animation-time) var(--main-animation-function);
    transition-property: background-color;
    will-change: background-color;
    background-color: var(--main-lighter-primary-color);
    color: var(--main-white-color);
}
.stepper-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: auto;
    height: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: -webkit-transform var(--main-animation-time) var(--main-animation-function);
    transition: all var(--main-animation-time) var(--main-animation-function);
    will-change: all;
}
.step-pane {
    transition: var(--main-animation-time) var(--main-animation-function);
    transition-property: opacity;
    will-change: opacity;
    width: 100%;
    opacity: 0;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
}
.step-pane.active {
    transition: --main-animation-time var(--main-animation-function);
    transition-property: opacity;
    will-change: opacity;
    opacity: 1;
}
.btn-nav-step {
    color: var(--main-dark-color);
    font-weight: 500;
    background-color: var(--main-lighter-info-color);
    border-top: 3px solid var(--main-lighter-info-color);
    border-left: .5px solid var(--main-light-info-color);
    border-right: .5px solid var(--main-light-info-color);
    border-bottom: 3px solid var(--main-info-color);
    transition: all var(--main-animation-time) var(--main-animation-function);
    will-change: all;
}
.btn-nav-step.step-end {
    color: var(--main-dark-color);
    background-color: var(--main-lighter-success-color);
    border-top: 3px solid var(--main-lighter-success-color);
    border-left: .5px solid var(--main-light-success-color);
    border-right: .5px solid var(--main-light-success-color);
    border-bottom: 3px solid var(--main-success-color);
    transition: all var(--main-animation-time) var(--main-animation-function);
    will-change: all;
}
.btn-nav-step:hover {
    border-bottom-color: var(--main-darker-info-color);
    color: var(--main-black-color);
}
.btn-nav-step.step-end:hover {
    border-bottom-color: var(--main-darker-success-color);
    color: var(--main-black-color);
}
.btn-nav-step.disabled:hover,
.btn-nav-step[disabled]:hover {
    border-bottom-color: var(--main-dark-info-color);
    color: var(--main-black-color);
}
.btn-nav-step.disabled,
.btn-nav-step[disabled] {
    border-bottom-color: var(--main-lighter-info-color);
    color: var(--main-gray-color);
}
.btn-nav-step:focus {
    outline: none;
    box-shadow: none;
}
.btn-nav-step:focus:active {
    outline-color: var(--main-darker-transparent-color);
    box-shadow: none;
}
